body {
  font-size: 14px;
  font-family: arial;
}

table {
  font-size: 14px;
  font-family: arial;
  height: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

p.title {
  font-family: arial;
  font-weight: bold;
  margin-left: 0px;
  font-size: 32px;
}

a {
  display: inline-block;
  font-family: arial;
  padding: 7px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}
a:hover {
  color: grey;
}

.gap {
  margin-left: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 362px 362px;
  grid-template-rows: repeat(11, auto);
  gap: 10px;
  grid-auto-flow: column;
}

.grid-item {
  border: 1px solid #eee;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 362px 362px;
  gap: 10px;
}

.grid-item2 {
  display: flex;
  align-items: center;
}
